---
import Experience from "src/components/Experience.astro";
import Greeting from "src/components/Greeting.astro";
import Projects from "src/components/Projects.astro";
import Layout from "src/layouts/Layout.astro";
---

<Layout>
  <main class="md:w-[720px] w-[350px] flex flex-col gap-10">
    <Greeting />
    <Experience />
    <Projects />
  </main>
</Layout>
