---
import WorkIcon from "./icons/WorkIcon.astro";
import InfoExperience from "./InfoExperience.astro";
---

<section class="w-full flex flex-col gap-5">
  <div class="flex items-center gap-2">
    <WorkIcon />
    <h2 class="text-2xl text-[#DAE7E4] font-bold">Experiencia laboral</h2>
  </div>

  <div class="w-full">
    <ol class="relative border-s border-gray-200 dark:border-gray-700">
      <li class="mb-10 ms-6">
        <InfoExperience
          title="Desarrollador web y movil | Empresa MA&GA"
          date="Desde 24-02-24 hasta 07-09-24"
          info={`Desarrollé una aplicación móvil y una plataforma web para gestionar clientes y organizar eventos de manera eficiente. Estas herramientas permiten registrar clientes, asignarles eventos mensuales y visualizarlos en un calendario interactivo, optimizando significativamente el tiempo dedicado a la planificación mensual.
            `}
          secondInfo="Para la aplicación móvil utilicé React Native con Expo, logrando un desarrollo ágil y multiplataforma. La plataforma web fue desarrollada en Next.js, aprovechando su alto rendimiento y capacidades de renderizado dinámico para ofrecer una experiencia fluida al usuario."
          techUsed={["React Native", "Expo", "Next.js"]}
        />
      </li>
      <li class="mb-10 ms-6">
        <InfoExperience
          title="Desarrollador web | Empresa Biblioteca Popular Belgrano N2252"
          date="Desde 02-05-23 hasta 22-12-23"
          info="Desarrollé una página web para una Biblioteca Popular con el objetivo de destacar su espacio de trabajo y todos los beneficios que ofrece a sus socios. Para su desarrollo, se utilizó React.js, aprovechando su capacidad para reutilizar componentes y garantizar un código más eficiente y mantenible."
          techUsed={["ReactJs", "TailwindCSS"]}
          page="https://main--lively-malasada-99a17c.netlify.app"
          github="https://github.com/AgustinCamassa/ProyectoRealBiblioteca"
        />
      </li>
    </ol>
  </div>
</section>
