<footer class="p-4 text-center">
  <p class="text-[#9b9ba1]">
    Hecho por <a
      class="text-[#FFC470]"
      target="_blank"
      href="https://github.com/UlisesLarrabe">Ulises Alejandro Larrabe</a
    >
  </p>
</footer>
