---
import Badge from "./Badge.astro";
import LinkedInIcon from "./icons/LinkedInIcon.astro";
import GithubIcon from "./icons/GithubIcon.astro";
import MailIcon from "./icons/MailIcon.astro";
import LinkBadge from "./LinkBadge.astro";
---

<section class="w-5/5 pt-7 flex flex-col gap-4">
  <header class="w-full flex flex-col gap-2">
    <div class="flex items-center gap-2 w-full">
      <img
        loading="lazy"
        src={"assets/me.webp"}
        alt="Foto de Ulises Alejandro Larrabe"
        class="rounded-[100px] h-28 w-28 object-cover md:h-52 md:w-52 aspect-auto"
      />
      <LinkBadge
        classInfo={"w-full"}
        to="https://www.linkedin.com/in/ulises-alejandro-larrabe"
      >
        <Badge
          colors="bg-blue-100 text-blue-800  dark:bg-blue-900 dark:text-blue-300"
        >
          Disponible para trabajar
        </Badge>
      </LinkBadge>
    </div>

    <h1 class="text-3xl font-bold text-[#EFFFFC]">
      Hey, soy Ulises Alejandro Larrabe
    </h1>
  </header>
  <main class="w-full flex flex-col gap-3">
    <p class="text-[#DAE7E4]">
      +1 año de experiencia.{" "}
      <strong class="text-[#FFC470]">
        Especializado en desarrollar páginas web y aplicaciones para celulares
        únicas.
      </strong>
    </p>
    <div class="flex">
      <LinkBadge to="mailto:larrabeulises@gmail.com" classInfo="flex ">
        <Badge
          colors="bg-blue-100 text-[#ffff] text-xs py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-100 flex justify-center items-center"
        >
          <MailIcon />
          Contáctame
        </Badge>
      </LinkBadge>
      <LinkBadge
        to="https://www.linkedin.com/in/ulises-alejandro-larrabe"
        classInfo="flex "
      >
        <Badge
          colors="bg-blue-100 text-[#ffff] text-xs  rounded-full dark:bg-blue-900 dark:text-blue-100 flex justify-center items-center"
        >
          <LinkedInIcon />
          LinkedIn
        </Badge>
      </LinkBadge>
      <LinkBadge to="https://github.com/UlisesLarrabe" classInfo="flex ">
        <Badge
          colors="bg-blue-100 text-[#ffff] text-xs rounded-full dark:bg-blue-900 dark:text-blue-100 flex justify-center items-center"
        >
          <GithubIcon />
          Github
        </Badge>
      </LinkBadge>
    </div>
  </main>
</section>
