---
const { to, classInfo, isDownload } = Astro.props;
---

<a
  href={to}
  target="_blank"
  rel="noopener"
  class={"hover:scale-105 transition-transform " + classInfo}
  download={isDownload ?? null}
>
  <slot />
</a>
