---
import CodeIcon from "./icons/CodeIcon.astro";
import ProjectCard from "./ProjectCard.astro";

const MY_PROJECTS = [
  {
    title: "WebGPU AI Chat",
    img: "assets/chatbot-ai.webp",
    description:
      " He desarrollado una aplicación de chat impulsada por inteligencia artificial, optimizada con WebGPU para un rendimiento increíblemente rápido. ",
    github: "https://github.com/UlisesLarrabe/webGPU-AI-Chat",
    page: "https://webgpu-ai-chat.vercel.app/",
    techUsed: ["Astro", "TailwindCSS", "TypeScript"],
  },
  {
    title: "Adivina el anime!",
    img: "assets/anime-guess.webp",
    description:
      "Página web de retos para adivinar animes a partir de capturas de pantalla, desarrollada con Astro para garantizar un rendimiento optimizado y una experiencia de usuario fluida.",
    github: "https://github.com/UlisesLarrabe/guess-the-anime",
    page: "https://anime-guess-screenshot.vercel.app/",
    techUsed: ["Astro", "TailwindCSS"],
  },
  {
    title: "¿Qué pago?",
    img: "assets/que-pago.webp",
    description:
      "Diseñada para gestionar y monitorear tus suscripciones, ofrece una interfaz intuitiva y visualmente atractiva. ",
    github: "https://github.com/UlisesLarrabe/web-que-pago",
    github_two: "https://github.com/UlisesLarrabe/backend-que-pago",
    page: "https://web-que-pago.vercel.app",
    techUsed: ["NextJs", "TailwindCSS", "MongoDB", "Express", "NodeJs"],
  },
  {
    title: "Radiants",
    img: "assets/radiants.webp",
    description:
      "App hecha para poder visualizar la información de cada agente del videojuego VALORANT, junto a sus habilidades, armas y cada mapa existente.",
    github: "https://github.com/UlisesLarrabe/radiants",
    page: null,
    techUsed: ["React Native"],
  },
  {
    title: "Shorty-Links",
    img: "assets/shorty-link.webp",
    description:
      "Pagina web realizada para poder acortar links de manera rápida y sencilla.",
    github: "https://github.com/UlisesLarrabe/Shorty-Link",
    page: "https://shortylink.vercel.app/",
    techUsed: ["NextJs", "TailwindCSS"],
  },
  {
    title: "Style it!",
    img: "assets/styleit.webp",
    description:
      "Pagina web realizada para poder recortar imágenes, borrar el fondo y/o ajustar su brillo, utilizando la API de Cloudinary.",
    github: "https://github.com/UlisesLarrabe/customize-img-2",
    page: "https://styleit.vercel.app/",
    techUsed: ["NextJs", "TailwindCSS"],
  },
  {
    title: "E-commerce",
    img: "assets/e-commerce.webp",
    description:
      "Desarrollé un e-commerce con React. La aplicación incluye funcionalidades como gestión de productos, carrito de compras dinámico y diseño responsive, optimizando la interacción del usuario.",
    page: "https://proyecto-react-coderhouse.vercel.app/",
    github: "https://github.com/UlisesLarrabe/proyect-react",
    techUsed: ["ReactJs", "TailwindCSS", "DaisyUI"],
  },
];
---

<section class="w-full h-full">
  <header class="flex md:gap-2 gap-4 mb-3">
    <CodeIcon />
    <h2 class="text-2xl text-[#DAE7E4] font-bold">Proyectos</h2>
  </header>
  <main class="flex flex-col gap-5 w-full">
    {
      MY_PROJECTS.map((project) => (
        <div key={project.title}>
          <ProjectCard project={project} />
        </div>
      ))
    }
  </main>
</section>
